<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/pageRelatedContent :: pageHeader(#{empresas_titulo}, '/js/empresas.js', '/css/empresas.css')}"></head>
<body>
<aside class="side-bar">
    <div style="height: 100%;" class="">
        <section class="side-bar__mai-icon">
            <svg width="30" height="30" viewBox="0 0 471 466" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.642663 300.776L65.0645 37.0633C66.7245 30.2681 74.6692 27.2332 80.4369 31.1909L301.825 183.106C305.243 185.451 306.859 189.662 305.889 193.692L242.394 457.405C240.755 464.211 232.81 467.27 227.03 463.32L4.71511 311.405C1.27673 309.056 -0.345588 304.821 0.642663 300.776Z"
                      fill="#AF59E5" fill-opacity="0.5"/>
                <path d="M395.001 225.57L237.357 4.56488C233.295 -1.12979 224.792 -1.00135 220.904 4.81339L71.6574 228.009C69.3532 231.455 69.4138 235.965 71.8098 239.347L228.592 460.696C232.639 466.409 241.152 466.303 245.055 460.491L395.161 236.951C397.483 233.494 397.419 228.96 395.001 225.57Z"
                      fill="#AF59E5" fill-opacity="0.5"/>
                <path d="M470.357 300.276L405.936 36.5633C404.276 29.7681 396.331 26.7332 390.563 30.6909L169.175 182.606C165.758 184.951 164.141 189.162 165.111 193.192L228.606 456.905C230.245 463.711 238.19 466.77 243.97 462.82L466.285 310.905C469.723 308.556 471.346 304.321 470.357 300.276Z"
                      fill="#AF59E5" fill-opacity="0.5"/>
            </svg>
        </section>
        <header class="side-bar__header">
            <section class="side-bar__left-side"
                     th:text="${func.nome.split(' ')[0]}">Marcela Facundes
            </section>
            <section class="side-bar__right-side"></section>
        </header>
        <nav class="side-bar__nav">
            <a th:href="@{#}">
                <svg class="icon" xmlns="http://www.w3.org/2000/svg"
                     height="24px" viewBox="0 -960 960 960"
                     width="24px" fill="currentColor">
                    <path d="M240-200h120v-240h240v240h120v-360L480-740 240-560v360Zm-80 80v-480l320-240 320 240v480H520v-240h-80v240H160Zm320-350Z"/>
                </svg>
                <span>
                    Home
            </span>
            </a>
            <a href="#">
                <svg class="icon" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                     fill="#e8eaed">
                    <path d="M480-340q33 0 56.5-23.5T560-420q0-33-23.5-56.5T480-500q-33 0-56.5 23.5T400-420q0 33 23.5 56.5T480-340ZM160-120q-33 0-56.5-23.5T80-200v-440q0-33 23.5-56.5T160-720h160v-80q0-33 23.5-56.5T400-880h160q33 0 56.5 23.5T640-800v80h160q33 0 56.5 23.5T880-640v440q0 33-23.5 56.5T800-120H160Zm0-80h640v-440H160v440Zm240-520h160v-80H400v80ZM160-200v-440 440Z"/>
                </svg>
                <span th:text="#{aside-bar_nav_links_empresas}"></span>
            </a>
            <a href="#">
                <svg class="icon" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                     fill="#e8eaed">
                    <path d="M480-340q33 0 56.5-23.5T560-420q0-33-23.5-56.5T480-500q-33 0-56.5 23.5T400-420q0 33 23.5 56.5T480-340ZM160-120q-33 0-56.5-23.5T80-200v-440q0-33 23.5-56.5T160-720h160v-80q0-33 23.5-56.5T400-880h160q33 0 56.5 23.5T640-800v80h160q33 0 56.5 23.5T880-640v440q0 33-23.5 56.5T800-120H160Zm0-80h640v-440H160v440Zm240-520h160v-80H400v80ZM160-200v-440 440Z"/>
                </svg>
                <span th:text="#{aside-bar_nav_links_analises}"></span>
            </a>
        </nav>
    </div>
    <form action="/logout" method="post" style="justify-self: end;">
        <button class="side-bar__button " >
            Logout
        </button>
    </form>
</aside>
<section class="main-content-view  ">
    <header class="main__primary-content  ">
        <section class="primary-content__name-section ">
            <p class="primary-content__name" th:text="${func.nome}">Marcela Facundes</p>
            <p class="primary-content__cargo" th:text="${func.cargo}">Analista Geral</p>
        </section>
        <section class="primary-content__notification">
                <span>
                    <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px"
                         fill="#e8eaed">
                        <path d="M160-200v-80h80v-280q0-83 50-147.5T420-792v-28q0-25 17.5-42.5T480-880q25 0 42.5 17.5T540-820v28q80 20 130 84.5T720-560v280h80v80H160Zm320-300Zm0 420q-33 0-56.5-23.5T400-160h160q0 33-23.5 56.5T480-80ZM320-280h320v-280q0-66-47-113t-113-47q-66 0-113 47t-47 113v280Z"/>
                    </svg>
                </span>
        </section>
    </header>
    <section class="main__secondary-content  ">
        <div th:if="${empresas.size() > 0}" class="secondary-content__info secondary-content__info__styles"
             th:data-id="${empresas[0].idEmpresa}">
            <section class="info" th:onclick="">
                <p class="info__id" th:text="'#' + ${empresas[0].idEmpresa.substring(0, 13)}">#81er0d1-321321</p>
                <h2 class="info__name" th:text="${empresas[0].nome}">Goggle</h2>
            </section>
            <section class="info__view ">
                <div class="view__empresa-content ">
                    <div class="empresa-content__up ">
                        <div class="empresa-content__up__styles empresa-content__up__localização  ">
                            <p th:text="#{info_principal_card_localizacao_titulo}">Localização</p>
                            <div class="up__localização__info">
                                <div>
                                    <span class="label" th:text="#{info_principal_card_localizacao_estado} + ':'">Estado: </span>
                                    <span class="text"
                                          th:text="${empresas[0].logradouro.cidade.estado.nome}">São Paulo</span>
                                    <span></span>
                                </div>
                                <div>
                                    <span class="label" th:text="#{info_principal_card_localizacao_cidade} + ':'">Cidade: </span>
                                    <span class="text" th:text="${empresas[0].logradouro.cidade.nome}">São Paulo</span>
                                    <span></span>
                                </div>
                                <div>
                                    <span class="label" th:text="#{info_principal_card_localizacao_cep} + ':'"
                                          :>CEP: </span>
                                    <span class="text" th:text="${empresas[0].logradouro.cep}">08892-893</span>
                                    <span></span>
                                </div>
                            </div>
                        </div>
                        <div class="empresa-content__up__styles empresa-content__up__contatos">
                            <p th:text="#{info_principal_card_contato_titulo}"></p>
                            <div class="up__contatos__info">
                                <div class="email">
                                    <span class="label">Email: </span>
                                    <span class="text" th:text="${empresas[0].usuario.login}">dimas@yahoo.com</span>
                                    <span></span>
                                </div>
                                <div class="telefone">
                                    <span class="label" th:text="#{info_principal_card_contato_telefone} + ':'"></span>
                                    <span class="text" th:text="${empresas[0].telefone}"></span>
                                    <span class="btn__add"
                                          th:style="${(empresas.size() > 0 and empresas[0].telefone == null) ? 'display:inline;' : 'display:none;'}">+
                                    </span>
                                </div>
                                <div class="site">
                                    <span class="label" th:text="#{info_principal_card_contato_site} + ':'"></span>
                                    <span class="text" th:text="${empresas[0].site}"></span>
                                    <span class="btn__add"
                                          th:style="${(empresas.size() > 0 and empresas[0].site == null) ? 'display:inline;' : 'display:none;'}">+
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="empresa-content__down  ">
                        <section class="empresa-content__down__pag">
                            <p th:text="#{info_principal_card_pag-atrasado_titulo}">Pagamento atrasado</p>
                            <p class="empresa-content__down__pag__bool"
                               th:text="${empresas[0].pago} ? #{info_principal_card_pag-atrasado_sim} : #{info_principal_card_pag-atrasado_nao}">
                                Sim</p>
                        </section>
                        <div></div>
                        <section class="empresa-content__down__plan">
                            <p th:text="#{info_principal_card_tipo-plano_titulo}">Tipo de plano</p>
                            <div class="down__plan__info">
                                <p
                                        th:text="${empresas[0].tipoPlano.toString().substring(0, 1).toUpperCase() + empresas[0].tipoPlano.toString().substring(1).toLowerCase()}">
                                    Premium
                                </p>
                            </div>
                        </section>
                    </div>
                </div>
                <div class="info__view__footer">
                    <button class="info__view__footer__button" th:text="#{info_principal_card_excluir-empresa_btn}">
                        Exluir
                    </button>
                </div>
            </section>
        </div>
        <div th:unless="${empresas.size() > 0}" class="secondary-content__info secondary-content__info__styles">
            <div style="display: flex;justify-content: center;align-items:
            center; width: 100%; height: 100%">
                <p style="font-size: 1.2rem;font-weight: 700;color: var(--gray-text)"
                   th:text="#{info_principal_card_nenhum-conteudo}">Nenhuma empresa selecionada</p>
            </div>
        </div>
        <div class="secondary-content__side-info secondary-content__info__styles  ">
            <h2 class="side-info__title" th:text="#{side_info_card_titulo}">Empresas</h2>
            <section class="side-info__query">
                <input type="text" th:placeholder="#{side_info_card_pesquisar}"/>
                <span></span>
            </section>
            <section class="side-info__empresas_view " th:if="${empresas.size() > 0}">
                <div th:replace="~{fragments/pageRelatedContent :: card_empresa_content_selected(${empresas[0]})}"
                     th:if="${empresas.size() > 0}"></div>
                <div th:each="emp : ${empresas.subList(1, empresas.size())}"
                     th:insert="~{fragments/pageRelatedContent :: card_empresa_content(emp)}"
                     th:if="${empresas.size() > 0}"></div>
            </section>
            <section th:unless="${empresas.size() > 0}" style="display: flex;justify-content: center;align-items:
            center">
                <p style="font-size: 1.2rem;font-weight: 700;color: var(--gray-text)"
                   th:text="#{side_info_card__nenhum-conteudo}">Nenhuma empresa</p>
            </section>
            <a th:href="@{/criar-empresa}" class="empresa__view__btn-link"
               th:text="#{side_info_card_criar_empresa_btn}">Criar empresa</a>
        </div>
    </section>
</section>
</body>
</html>