<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head
        th:replace="~{fragments/pageRelatedContent :: pageHeader(#{titulo_aba}, '/js/criar_empresa.js', '/css/criar_empresa.css')}"></head>
<body class="container"
      style="display: flex;flex-direction: column;justify-content: center;align-items: center;height: 100dvh">
<h1 th:text="#{pagina_titulo}"></h1>
<div style="width: 25rem">
    <div th:if="${param.logout}">
        <p style="color: green;"><b th:text="#{logout_sucesso}"></b></p>
    </div>
    <form th:action="@{/login}" method="post">
        <div>
            <label for="username" th:text="#{email_label}"></label>
            <input class="form-control"
                   type="text"
                   id="username"
                   name="username"><br>
        </div>
        <div>
            <label for="password" th:text="#{senha_label}"></label>
            <input class="form-control"
                   type="password"
                   id="password"
                   name="password"><br>
        </div>
        <div th:if="${param.error}">
            <p style="color: red;"><b th:text="#{senha_errada}"></b></p>
        </div>
        <button type="submit" class="btn btn-primary" th:text="#{login_btn}"></button>
    </form>
</div>
</body>
</html>