@import url("main.css");

:root {
    --side-bar-max-width: 14rem;
    --side-bar__header-height: 4rem;
    --side-bar__footer-height: fit-content;
    --primary-purple: #8646B7;
    --cards-default-gap: 2rem;
    --default-border-radius: 10px;
    --side-bar-min-width: 6.25rem;
    --dark-purple: #160F28;
    --gray-text: #9A9A9A;
    --light-red: #FFC6C6;
    --light-gray: #F5F5F5;
    --card-id-color: #8853A9;
    --card-id-color--select: #D185FF;
    --card-text-color--select: #A60DFF;
    --card-backcolor--select: #E4CBF3;
}

.side-bar {
    /* POSITIONS */
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    /* PROPORTIONS*/
    height: 100dvh;
    width: var(--side-bar-max-width);
    padding: 2rem 1rem 2rem 1rem;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    align-items: center;
}

.side-bar__mai-icon {
    text-align: center;
}

.side-bar__right-side {
    aspect-ratio: 1/1;
    width: 2rem;
    background-color: slategray;
    border-radius: 50px;
}

.side-bar__header {
    /* POSITIONS */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.5rem;
    /* PROPORTIONS */
    height: var(--side-bar__header-height);
}

.side-bar__nav {
    /* POSITIONS */
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    padding: 0 1rem;
    /* PROPORTIONS */
    height: 100%;
}

.side-bar__nav > a {
    /* POSITIONS */
    display: flex;
    column-gap: 0.8rem;
    align-items: center;
    text-decoration: none;
    /* PROPORTIONS */
    padding: 0.2rem 0.5rem;
    /* STYLES */
    border-radius: var(--default-border-radius);
}

.side-bar__nav > a > span {
    color: black;
    font-weight: 500;
}

.side-bar__nav a > svg {
    aspect-ratio: 1/1;
    width: 1.5rem;
}

.side-bar__nav > a:nth-child(2){
    background-color: var(--dark-purple);
}

.side-bar__nav > a:nth-child(2) > span{
    color: white;
}
.side-bar__nav > a:nth-child(2) > svg{
    background-color: var(--dark-purple);
    fill: white;
}
.link_active > svg {
    /* STYLES */
    fill: white;
}

.side-bar__nav a:hover > svg {
    /* STYLES */
    fill: white;
}

.side-bar__nav a:active > svg {
    /* STYLES */
    fill: white;
}

.side-bar__nav a:hover > span {
    /* STYLES */
    color: white;
}

.side-bar__nav a:active > span {
    /* STYLES */
    color: white;
}

.icon {
    /* STYLES */
    fill: #000000;
    aspect-ratio: 1/1;
    height: 2rem;
}

.link_active {
    /* POSITIONS */
    /* PROPORTIONS */
    /* STYLES */
    color: white;
    background-color: var(--dark-purple);
}

.side-bar__nav > a:hover {
    /* POSITIONS */
    /* PROPORTIONS */
    /* STYLES */
    color: white;
    background-color: var(--dark-purple);
}

.side-bar__nav > a:active {
    /* POSITIONS */
    /* PROPORTIONS */
    /* STYLES */
    scale: 0.9;
}

.side-bar__footer {
    /* POSITIONS */
    position: relative;
    /* PROPORTIONS */
    width: 100%;
    text-align: center;
    height: var(--side-bar__footer-height);
}

.side-bar__footer > .icon {
    /* STYLES */
    font-size: 1rem;
    font-weight: 500;
    color: #C7C8CC;
    cursor: default;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.main-content-view {
    /* POSITIONS */
    display: flex;
    background-color: var(--light-gray);
    flex-direction: column;
    margin-left: var(--side-bar-max-width);
    padding: 2rem 5rem 0 2rem;
    gap: var(--cards-default-gap);
    height: 100dvh;
}

.main__primary-content {
    /*POSITIONS*/
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: space-between;
    padding: 1.8rem 2rem;
    height: 1.5rem;
    border-radius: var(--default-border-radius);
}

.primary-content__name-section {
    /* STYLES */
    flex-grow: 1;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.primary-content__name{
    margin-bottom: 0;
}

.primary-content__cargo {
    /* STYLES */
    font-size: 0.7rem;
    color: rgba(0, 0, 0, 0.7);
    margin-bottom: 0;
}

.main__secondary-content {
    /*POSITIONS*/
    display: flex;
    flex-grow: 1;
    margin-bottom: 1rem;
    gap: var(--cards-default-gap);
}

.primary-content__notification {
    flex-grow: 1;
    display: flex;
    justify-content: end;
    column-gap: 1rem;
}

.primary-content__notification > span {
    background-color: slategray;
    border-radius: 0.2rem;
    padding: 0.45rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;    
}

.secondary-content__info__styles {
    border-radius: 15px;
    background-color: white;
    padding: 1rem;
}

.secondary-content__side-info {
    /* POSITIONS */
    flex-grow: 1;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    gap: var(--cards-default-gap);
}

.secondary-content__info {
    flex-grow: 3;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.info__view {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.info__id {
    font-weight: 500;
    color: var(--gray-text);
}

.info__name {
    font-size: 3rem;
}

.view__empresa-content {
    gap: var(--cards-default-gap);
    display: flex;
    flex-direction: column;
}

.empresa-content__up {
    display: flex;
    gap: var(--cards-default-gap);
}

.empresa-content__down {
    height: 10rem;
    background-color: var(--light-gray);
    border-radius: var(--default-border-radius);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.empresa-content__down > div{
    height: 80%;
    width: 1px;
    background-color: #b6b6b6;
}

.empresa-content__down__plan{
    text-align: end;
}

.empresa-content__down__plan > p{
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 1.2rem;
}

.empresa-content__down__pag > p:not(.empresa-content__down__pag__bool){
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 1.2rem;
}

.empresa-content__down__pag__bool{
    font-size: 2rem;
    color: var(--card-text-color--select);
    font-weight: 500;
}

.down__plan__info {
    display: flex;
    column-gap: 0.5rem;
    align-items: center;
    justify-content: end;
}

.down__plan__info > p{
    font-size: 2rem;
    font-weight: 500;
    color: var(--card-text-color--select);
}

.empresa-content__up__styles {
    border-radius: var(--default-border-radius);
    padding: 1rem;
    height: 10rem;
    flex-grow: 1;
    background-color: var(--light-gray);
}


.empresa-content__up__localização > p,
.empresa-content__up__contatos > p{
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
}

.up__contatos__info{
    display: flex;
    flex-direction: column;
    row-gap: 0.2rem;
}

.up__contatos__info > div{
    display: flex;
    column-gap: 0.2rem;
}

.up__localização__info{
    display: flex;
    flex-direction: column;
    row-gap: 0.2rem;
}

.up__localização__info > div > .label,
.up__contatos__info > div > .label{
    font-weight: 500;
}

.up__contatos__info > div > .btn__add{
    background-color: var(--dark-purple);
    padding: 0.15rem 0.4rem;
    color: white;
    font-weight: 700;
    border-radius: 0.2rem;
    cursor: pointer;
}

.up__contatos__info > div > .btn__add:active{
    scale: 0.95;
}

.info__view__footer {
    text-align: center;
}

.info__view__footer__button {
    padding: 0.5rem 2rem;
    color: red;
    background-color: var(--light-red);
    font-weight: 500;
    border-radius: 0.2rem;
    cursor: pointer;
}

.side-bar__button{
    padding: 0.5rem 2rem;
    color: red;
    background-color: var(--light-red);
    font-weight: 500;
    border-radius: 0.2rem;
    cursor: pointer;
}

.info__view__footer__button:active {
    scale: 0.95;
}

.side-info__title {
    text-align: center;
    font-size: 1.8rem;
}

.side-info__query {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: fit-content;
    background-color: var(--light-gray);
    border-radius: var(--default-border-radius);
}

.side-info__query > input {
    padding: 1.2rem 1rem;
    flex-grow: 1;
    background-color: transparent;
    font-size: 1rem;
}

.side-info__empresas_view {
    display: flex;
    overflow-y: scroll;
    height: 35rem;
    flex-direction: column;
    row-gap: 0.5rem;
}

/* NORMAL EMPRESA CARD */
.card__empresa_content {
    padding: 1rem;
    background-color: var(--light-gray);
    border-radius: var(--default-border-radius);
}

.card__empresa_content__name,
.card__empresa_content__id,
.card__empresa_content__localizacao{
    margin-bottom: 0;
}

.card__empresa_content__id {
    color: var(--card-id-color);
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.card__empresa_content__name > span {
    font-size: 1.2rem;
    font-weight: 700;
}

.card__empresa_content__localizacao > span {
    font-size: 0.95rem;
    font-weight: 700;
}

.card__empresa_content__name {
    font-size: 1.2rem;
}

.card__empresa_content__localizacao {
    font-size: 0.95rem;
}

/* SELECTED EMPRESA CARD */
.card__empresa_content--SELECT {
    padding: 1rem;
    background-color: var(--card-backcolor--select);
    border-radius: var(--default-border-radius);
}


.card__empresa_content__id--SELECT,
.card__empresa_content__localizacao--SELECT,
.card__empresa_content__name--SELECT{
    margin-bottom: 0;
}
.card__empresa_content__id--SELECT {
    color: var(--card-id-color--select);
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.card__empresa_content__name--SELECT > span {
    font-size: 1.2rem;
    font-weight: 700;
}

.card__empresa_content__localizacao--SELECT > span {
    font-size: 0.95rem;
    font-weight: 700;
}

.card__empresa_content__name--SELECT {
    color: var(--card-text-color--select);
    font-size: 1.2rem;
}

.card__empresa_content__localizacao--SELECT {
    font-size: 0.95rem;
    color: var(--card-text-color--select);
}

.empresa__view__btn-link{
    padding: 0.5rem 1rem;
    background-color: var(--dark-purple);
    border-radius: var(--default-border-radius);
    width: 100%;
    text-align: center;
    color: white;
    text-decoration: none;
}

.empresa__view__btn-link:active{
    scale: 0.95;
}
.empresa__view__btn-link:hover,
.empresa__view__btn-link:active{
    color: white;
}
